body,
html {
  background: #8d118d;
background: -webkit-linear-gradient(147deg, #8d118d 0%, #3d577c 50%, #a41193 100%);
background: linear-gradient(147deg, #8d118d 0%, #3d577c 50%, #a41193 100%);
  margin: 0 auto;
  padding: 1em;
}
h1 {
  font-family: Goudy Old Style;
  font-size: 3em;
  text-align: center;
}
p {
  font-family: Helvetica;
}
.fav-items {
  font-family: sans-serif;
  color: #3c0854;
  text-decoration: underline;
  padding-top: 2em;
}
.fav-lists {
  background-color: #5652bf;
  border-radius: 20px;
  padding: 1rem;
  font-family: Century Gothic, serif;
  font-weight: 600;
}
a {
  color: #d65cad;
  text-decoration: none;
}
a:hover {
  color: #c20c51;
  text-transform: uppercase;
}
.extra {
  font-family: Segoe Script;
  text-align: right;
  font-size: 20px;
  font-weight: 100;
}
